/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #FF0070;
  --button-text-color: var(--accent-color);
  --button-border: var(--accent-color);
  --transparent-border: #FF007066;
  --title-color: var(--accent-color);
  --title-decoration-color: var(--bg-color);
  --shadow-color: var(--accent-color);
  --big-text-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
}


