/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: var(--main-text-color);
  --button-border: var(--main-text-color);
  --transparent-border: #35343066;
  --title-color: var(--main-text-color);
  --title-decoration-color:var(--main-text-color);
  --shadow-color: var(--accent-color);
  --corner-color: var(--main-text-color);
  --big-text-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .rec-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --button-text-color: var(--main-text-color);
    --button-border: var(--main-text-color);
    --transparent-border: #35343066;
    --title-color: var(--main-text-color);
    --title-decoration-color:var(--main-text-color);
    --shadow-color: var(--accent-color);
    --corner-color: var(--main-text-color);
    --big-text-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
}

.theme-auto .rec-decor {
  display: none;
}

}
