/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex mono', sans-serif, monospace;
  --main-font-size: 1.125rem;
  --fw-bold: 700;
  --fw-normal: 400;
  --main-line-height: 1.3;
  --grid-gap: 1.25rem;
  --article-gap: 0.625rem;
  --margin-inline: 0.625rem;
  --margin-block: 2.5rem;
  --paddings: 0.625rem;

  --bg-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #FF0070;
  --button-text-color: var(--accent-color);
  --button-border: var(--accent-color);
  --title-color: var(--accent-color);
  --title-decoration-color:var(--bg-color);
  --transparent-border: #FF007066;
  --shadow-color: var(--accent-color);
  --corner-color: var(--accent-color);
  --big-text-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
}